@mixin ellipsis($lines: 1) {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: normal !important;

  @if  $lines == 1 {
    white-space: nowrap;
  } @else {
    display: -webkit-box;
    overflow: hidden;
    /* stylelint-disable-next-line order/properties-alphabetical-order */
    -webkit-line-clamp: $lines;
    /* stylelint-disable-next-line order/properties-alphabetical-order */
    -webkit-box-orient: vertical;
  }
}