@charset 'utf-8';

// Layout variables
$layout-width-desktop: 1440px;
$layout-width-laptop: 1120px;
$layout-width-tablet: 960px;
$layout-width-mobile: 414px;
$layout-padding-desktop: 160px;
$layout-padding-laptop: 80px;
$layout-padding-tablet: 40px;
$layout-padding-mobile: 16px;
$layout-min-width: 320px;

// Media query
$desktop: "screen and (min-width: 1440px)";
$laptop: "screen and (min-width: 1140px) and (max-width:1439px)";
$tablet: "screen and (min-width:960px) and (max-width:1139px)";
$mobile: "screen and (max-width:959px)";
$smaller-than-desktop: "screen and (max-width: 1439px)";

// Main
$section-margin-bottom: 80px;
$section-margin-bottom-mobile: 60px;